@using System.Text.Json
@using System.Threading
@using Microsoft.Extensions.Logging
@using Soenneker.Blazor.Drawflow.Abstract
@using Soenneker.Blazor.Drawflow.Dtos
@using Soenneker.Blazor.Drawflow.Options
@using Soenneker.Extensions.String
@using Soenneker.Utils.Json
@using Soenneker.Extensions.CancellationTokens

@inject IDrawflowInterop DrawflowInterop
@inject ILogger<Drawflow> Logger

@inherits Soenneker.Quark.CoreCancellableComponent
@implements IDrawflow

<div id="@_observerId" ></div>
<div id="@_wrapperId" >
    <div id="@_elementId" @attributes="Attributes" ></div>
</div>

@code {
    private readonly string _elementGuid;
    private readonly string _observerId;
    private readonly string _wrapperId;
    private readonly string _elementId;

    private readonly List<EventLog> _eventLogs = [];

    [Parameter]
    public DrawflowOptions? Options { get; set; }

    [Parameter]
    public EventCallback<string> OnNodeCreated { get; set; }

    [Parameter]
    public EventCallback<string> OnNodeRemoved { get; set; }

    [Parameter]
    public EventCallback<string> OnConnectionCreated { get; set; }

    [Parameter]
    public EventCallback<string> OnConnectionRemoved { get; set; }

    [Parameter]
    public EventCallback<string> OnModuleChanged { get; set; }

    [Parameter]
    public EventCallback<string> OnModuleAdded { get; set; }

    [Parameter]
    public EventCallback<string> OnModuleRemoved { get; set; }

    [Parameter]
    public EventCallback<List<string>> OnNodeSelected { get; set; }

    [Parameter]
    public EventCallback<List<string>> OnNodeUnselected { get; set; }

    [Parameter]
    public EventCallback<string> OnConnectionSelected { get; set; }

    [Parameter]
    public EventCallback<string> OnConnectionUnselected { get; set; }

    [Parameter]
    public EventCallback<string> OnDataChanged { get; set; }

    [Parameter]
    public EventCallback<string> OnZoomChanged { get; set; }

    [Parameter]
    public EventCallback<string> OnReroute { get; set; }

    [Parameter]
    public EventCallback<string> OnTranslated { get; set; }

    [Parameter]
    public EventCallback<string> OnImport { get; set; }

    [Parameter]
    public EventCallback<string> OnExport { get; set; }

    private bool _initializing;
    private bool _initialized;
    private bool _interopInitialized;

    private void AddLog(string message, string type = "info")
    {
        _eventLogs.Insert(0, new EventLog { Message = message, Type = type });

        if (_eventLogs.Count > 50)
            _eventLogs.RemoveAt(_eventLogs.Count - 1);
    }

    public Drawflow()
    {
        _initializing = false;
        _initialized = false;
        _elementGuid = Guid.NewGuid()
            .ToString("N");
        _observerId = $"df-observer-{_elementGuid}";
        _wrapperId = $"df-wrapper-{_elementGuid}";
        _elementId = $"df-interop-{_elementGuid}";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (!firstRender && _initialized)
            return;

        if (!_interopInitialized)
        {
            bool useCdn = Options?.UseCdn ?? true;

            await DrawflowInterop.Initialize(useCdn, CancellationToken);
            _interopInitialized = true;
        }

        if (Options is { ManualCreate: true } || _initialized)
            return;

        await Create(cancellationToken: CancellationToken);
        await DrawflowInterop.CreateObserver(_observerId, CancellationToken);
    }

    public async ValueTask Create(DrawflowOptions? options = null, CancellationToken cancellationToken = default)
    {
        if (_initialized || _initializing)
        {
            Logger.LogError("Drawflow 'Create' cannot be called multiple times without destroying the instance first");
            return;
        }

        _initializing = true;

        if (!_interopInitialized)
            throw new InvalidOperationException("Drawflow interop is not yet available. Wait until the component has rendered.");

        if (options != null)
            Options = options;

        //InteropEventListener.Initialize(DrawflowInterop);

        CancellationToken token = cancellationToken;
        CancellationTokenSource? cts = null;

        if (!token.CanBeCanceled)
            token = CancellationToken.Link(CancellationToken, out cts);

        try
        {
            await DrawflowInterop.Create(_elementId, Options, token);
            await AddEventListeners(token);

            _initialized = true;
        }
        finally
        {
            _initializing = false;
            cts?.Dispose();
        }
    }

    private async ValueTask AddEventListeners(CancellationToken cancellationToken)
    {
        if (OnNodeCreated.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "nodeCreated", OnNodeCreated, cancellationToken);

        if (OnNodeRemoved.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "nodeRemoved", OnNodeRemoved, cancellationToken);

        if (OnConnectionCreated.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "connectionCreated", OnConnectionCreated, cancellationToken);

        if (OnConnectionRemoved.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "connectionRemoved", OnConnectionRemoved, cancellationToken);

        if (OnModuleChanged.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "moduleChanged", OnModuleChanged, cancellationToken);

        if (OnModuleAdded.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "moduleAdded", OnModuleAdded, cancellationToken);

        if (OnModuleRemoved.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "moduleRemoved", OnModuleRemoved, cancellationToken);

        if (OnNodeSelected.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "nodeSelected", WrapListStringCallback(OnNodeSelected), cancellationToken);

        if (OnNodeUnselected.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "nodeUnselected", WrapListStringCallback(OnNodeUnselected), cancellationToken);

        if (OnConnectionSelected.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "connectionSelected", OnConnectionSelected, cancellationToken);

        if (OnConnectionUnselected.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "connectionUnselected", OnConnectionUnselected, cancellationToken);

        if (OnDataChanged.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "dataChanged", OnDataChanged, cancellationToken);

        if (OnZoomChanged.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "zoomChanged", OnZoomChanged, cancellationToken);

        if (OnReroute.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "reroute", OnReroute, cancellationToken);

        if (OnTranslated.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "translated", OnTranslated, cancellationToken);

        if (OnImport.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "import", OnImport, cancellationToken);

        if (OnExport.HasDelegate)
            await DrawflowInterop.AddEventListener(_elementId, "export", OnExport, cancellationToken);
    }

    private static List<string> ParseIdList(string json)
    {
        if (json.IsNullOrWhiteSpace())
            return [];

        try
        {
            using JsonDocument doc = JsonDocument.Parse(json);
            if (doc.RootElement.ValueKind is JsonValueKind.True or JsonValueKind.False)
            {
                // Drawflow sent a boolean, not an id or array
                return [];
            }

            if (doc.RootElement.ValueKind == JsonValueKind.Array)
            {
                var list = new List<string>();
                foreach (JsonElement el in doc.RootElement.EnumerateArray())
                {
                    if (el.ValueKind == JsonValueKind.String)
                        list.Add(el.GetString()!);
                }

                return list;
            }

            if (doc.RootElement.ValueKind == JsonValueKind.String)
            {
                return [doc.RootElement.GetString()!];
            }
        }
        catch
        {
            // fallback: treat as single string
            return [json];
        }

        return [];
    }

    private EventCallback<string> WrapListStringCallback(EventCallback<List<string>> callback)
    {
        return EventCallback.Factory.Create<string>(this, (json) =>
        {
            List<string> ids = ParseIdList(json);
            return callback.InvokeAsync(ids);
        });
    }

    public async ValueTask AddNode(string name, int inputs, int outputs, int posX, int posY, string className, object? data, string html, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            object? dataToSend = data;

            if (data is not null && data is not string)
                dataToSend = JsonUtil.Serialize(data);

            await DrawflowInterop.AddNode(_elementId, name, inputs, outputs, posX, posY, className, dataToSend, html, linked);
        }
    }

    public async ValueTask AddNode(DrawflowNode node, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.AddNode(_elementId, node, linked);
        }
    }

    public async ValueTask AddConnection(string outputNode, string inputNode, string outputClass, string inputClass, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.AddConnection(_elementId, outputNode, inputNode, outputClass, inputClass, linked);
        }
    }

    public async ValueTask RemoveNode(string nodeId, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.RemoveNode(_elementId, nodeId, linked);
        }
    }

    public async ValueTask RemoveConnectionNodeId(string nodeId, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.RemoveConnectionNodeId(_elementId, nodeId, linked);
        }
    }

    public async ValueTask<DrawflowNode?> GetNodeFromId(string id, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.GetNodeFromId(_elementId, id, linked);
    }

    public async ValueTask<List<string>> GetNodesFromName(string name, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.GetNodesFromName(_elementId, name, linked);
    }

    public async ValueTask UpdateNodeData(string id, object data, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.UpdateNodeData(_elementId, id, data, linked);
        }
    }

    public async ValueTask UpdateConnectionNodes(string id, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.UpdateConnectionNodes(_elementId, id, linked);
        }
    }

    public async ValueTask<string?> GetModuleFromNodeId(string id, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.GetModuleFromNodeId(_elementId, id, linked);
    }

    public async ValueTask ClearModuleSelected(CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.ClearModuleSelected(_elementId, linked);
        }
    }

    public async ValueTask<string> ExportAsJson(CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.ExportAsJson(_elementId, linked);
    }

    public async ValueTask<DrawflowExport> Export(CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.Export(_elementId, linked);
    }

    public async ValueTask Import(string json, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.Import(_elementId, json, linked);
        }
    }

    public async ValueTask Import(DrawflowExport drawflowExport, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.Import(_elementId, drawflowExport, linked);
        }
    }

    public async ValueTask ZoomIn(CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.ZoomIn(_elementId, linked);
        }
    }

    public async ValueTask ZoomOut(CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.ZoomOut(_elementId, linked);
        }
    }

    public async ValueTask AddModule(string name, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.AddModule(_elementId, name, linked);
        }
    }

    public async ValueTask AddModule(string moduleName, DrawflowModule module, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.AddModule(_elementId, moduleName, module, linked);
        }
    }

    public async ValueTask ChangeModule(string name, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.ChangeModule(_elementId, name, linked);
        }
    }

    public async ValueTask RemoveModule(string name, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.RemoveModule(_elementId, name, linked);
        }
    }

    public async ValueTask AddNodeInput(string id, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.AddNodeInput(_elementId, id, linked);
        }
    }

    public async ValueTask AddNodeOutput(string id, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.AddNodeOutput(_elementId, id, linked);
        }
    }

    public async ValueTask RemoveNodeInput(string id, string inputClass, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.RemoveNodeInput(_elementId, id, inputClass, linked);
        }
    }

    public async ValueTask RemoveNodeOutput(string id, string outputClass, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.RemoveNodeOutput(_elementId, id, outputClass, linked);
        }
    }

    public async ValueTask RemoveSingleConnection(string outId, string inId, string outClass, string inClass, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.RemoveSingleConnection(_elementId, outId, inId, outClass, inClass, linked);
        }
    }

    public async ValueTask Clear(CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.Clear(_elementId, linked);
        }
    }

    public async ValueTask SetZoom(double zoom, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.SetZoom(_elementId, zoom, linked);
        }
    }

    public async ValueTask<double> GetZoom(CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.GetZoom(_elementId, linked);
    }

    public async ValueTask CenterNode(string id, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.CenterNode(_elementId, id, linked);
        }
    }

    public async ValueTask<object> GetNodePosition(string id, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.GetNodePosition(_elementId, id, linked);
    }

    public async ValueTask SetNodePosition(string id, int posX, int posY, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.SetNodePosition(_elementId, id, posX, posY, linked);
        }
    }

    public async ValueTask<string> GetNodeHtml(string id, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.GetNodeHtml(_elementId, id, linked);
    }

    public async ValueTask SetNodeHtml(string id, string html, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.SetNodeHtml(_elementId, id, html, linked);
        }
    }

    public async ValueTask<string> GetNodeClass(string id, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.GetNodeClass(_elementId, id, linked);
    }

    public async ValueTask SetNodeClass(string id, string className, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.SetNodeClass(_elementId, id, className, linked);
        }
    }

    public async ValueTask<string> GetNodeName(string id, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.GetNodeName(_elementId, id, linked);
    }

    public async ValueTask SetNodeName(string id, string name, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.SetNodeName(_elementId, id, name, linked);
        }
    }

    public async ValueTask<List<object>> GetNodeConnections(string id, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.GetNodeConnections(_elementId, id, linked);
    }

    public async ValueTask<bool> IsNodeSelected(string id, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.IsNodeSelected(_elementId, id, linked);
    }

    public async ValueTask SelectNode(string id, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.SelectNode(_elementId, id, linked);
        }
    }

    public async ValueTask UnselectNode(string id, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.UnselectNode(_elementId, id, linked);
        }
    }

    public async ValueTask<List<string>> GetSelectedNodes(CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.GetSelectedNodes(_elementId, linked);
    }

    public async ValueTask ClearSelectedNodes(CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.ClearSelectedNodes(_elementId, linked);
        }
    }

    public async ValueTask<string> GetCurrentModule(CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.GetCurrentModule(_elementId, linked);
    }

    public async ValueTask<List<string>> GetModules(CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.GetModules(_elementId, linked);
    }

    public async ValueTask<bool> IsEditMode(CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await DrawflowInterop.IsEditMode(_elementId, linked);
    }

    public async ValueTask SetEditMode(bool editMode, CancellationToken cancellationToken = default)
    {
        if (!_initialized)
            throw new InvalidOperationException("Drawflow is not initialized.");

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await DrawflowInterop.SetEditMode(_elementId, editMode, linked);
        }
    }

    public override async ValueTask DisposeAsync()
    {
        await base.DisposeAsync();

        try
        {
            if (_initialized)
            {
                await DrawflowInterop.Destroy(_elementId, CancellationToken);
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error disposing Drawflow");
        }
    }

}